src/simulation/SimulatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://simulator.acme.mobility.wsdl" xmlns:xsd1="http://simulator.acme.mobility.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://simulator.acme.mobility.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://simulator.acme.mobility.xsd" xmlns:sch="http://simulator.acme.mobility.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="stopSimulation"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="vehicleId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="LocationType"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="latitude" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="longitude" type="xs:double"/></xs:sequence></xs:complexType><xs:element name="stopSimulationResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="level" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="location" type="sch:LocationType"/><xs:element maxOccurs="1" minOccurs="1" name="vehicleId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="totalKm" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="status" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="startSimulation"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="vehicleId" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="StartSimulationRequest">
    <wsdl:part name="body" element="xsd1:startSimulation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StopSimulationRequest">
    <wsdl:part name="body" element="xsd1:stopSimulation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StopSimulationResponse">
    <wsdl:part name="body" element="xsd1:stopSimulationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimulatorPort">
    <wsdl:operation name="stopSimulation">
      <wsdl:input message="tns:StopSimulationRequest">
    </wsdl:input>
      <wsdl:output message="tns:StopSimulationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startSimulation">
      <wsdl:input message="tns:StartSimulationRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimulatorPortSOAPBinding" type="tns:SimulatorPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="stopSimulation">
      <soap:operation soapAction="stopSimulation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startSimulation">
      <soap:operation soapAction="startSimulation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimulatorPortService">
    <wsdl:port name="SimulatorPortServicePort" binding="tns:SimulatorPortSOAPBinding">
      <soap:address location="socket://0.0.0.0:8086"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
