src/user-managment/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://acme.com/user.wsdl" xmlns:xsd1="http://acme.com/user.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acme.com/user.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://acme.com/user.xsd" xmlns:sch="http://acme.com/user.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="loginUser"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="username" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="loginUserResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="registerUser"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="username" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="registerUserResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="UserRequest">
    <wsdl:part name="body" element="xsd1:registerUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserResponse">
    <wsdl:part name="body" element="xsd1:registerUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="loginUser">
      <wsdl:input message="tns:UserRequest">
    </wsdl:input>
      <wsdl:output message="tns:UserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:UserRequest">
    </wsdl:input>
      <wsdl:output message="tns:UserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSOAPBinding" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="loginUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="registerUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port name="UserPortServicePort" binding="tns:UserPortSOAPBinding">
      <soap:address location="http://localhost:8005"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
