src/bank-jolie/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://acmemobility.org/bank.wsdl" xmlns:xsd1="http://acmemobility.org/bank.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acmemobility.org/bank.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://acmemobility.org/bank.xsd" xmlns:sch="http://acmemobility.org/bank.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="executePayment"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="paymentToken" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="amount" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="executePaymentResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="txId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="preAuthorize"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="clientName" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="cardNumber" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="preAuthorizeResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="paymentToken" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="PaymentRequest">
    <wsdl:part name="body" element="xsd1:executePayment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PreAuthResponse">
    <wsdl:part name="body" element="xsd1:preAuthorizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PreAuthRequest">
    <wsdl:part name="body" element="xsd1:preAuthorize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentResponse">
    <wsdl:part name="body" element="xsd1:executePaymentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BankPort">
    <wsdl:operation name="executePayment">
      <wsdl:input message="tns:PaymentRequest">
    </wsdl:input>
      <wsdl:output message="tns:PaymentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preAuthorize">
      <wsdl:input message="tns:PreAuthRequest">
    </wsdl:input>
      <wsdl:output message="tns:PreAuthResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankPortSOAPBinding" type="tns:BankPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executePayment">
      <soap:operation soapAction="executePayment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preAuthorize">
      <soap:operation soapAction="preAuthorize" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankPortService">
    <wsdl:port name="BankPortServicePort" binding="tns:BankPortSOAPBinding">
      <soap:address location="socket://localhost:8008"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
