src/bank-jolie/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bank.acme.com/xsd.wsdl" xmlns:xsd1="http://bank.acme.com/xsd.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bank.acme.com/xsd.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://bank.acme.com/xsd.xsd" xmlns:sch="http://bank.acme.com/xsd.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="preAuthorize"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="amount" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="userId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="preAuthorizeResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="token" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="commitPayment"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="finalAmount" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="token" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="commitPaymentResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="PreAuthResponse">
    <wsdl:part name="body" element="xsd1:preAuthorizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PreAuthRequest">
    <wsdl:part name="body" element="xsd1:preAuthorize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CommitRequest">
    <wsdl:part name="body" element="xsd1:commitPayment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="void">
    <wsdl:part name="body" element="xsd1:commitPaymentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BankPort">
    <wsdl:operation name="preAuthorize">
      <wsdl:input message="tns:PreAuthRequest">
    </wsdl:input>
      <wsdl:output message="tns:PreAuthResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commitPayment">
      <wsdl:input message="tns:CommitRequest">
    </wsdl:input>
      <wsdl:output message="tns:void">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankPortSOAPBinding" type="tns:BankPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="preAuthorize">
      <soap:operation soapAction="preAuthorize" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commitPayment">
      <soap:operation soapAction="commitPayment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankPortService">
    <wsdl:port name="BankPortServicePort" binding="tns:BankPortSOAPBinding">
      <soap:address location="http://bank-service:8008"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
