src/stations/StationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://station.acme.mobility.wsdl" xmlns:xsd1="http://station.acme.mobility.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://station.acme.mobility.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://station.acme.mobility.xsd" xmlns:sch="http://station.acme.mobility.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="unlock"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="vehicleId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="userId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="unlockResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="HardwareErrorFaultType"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="0" name="vehicleId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VehicleNotAvailableFaultType"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="0" name="currentStatus" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VehicleNotFoundFaultType"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="lock"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="vehicleId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="stationId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="lockResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="finalBatteryLevel" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="LockResponse">
    <wsdl:part name="body" element="xsd1:lockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnlockResponse">
    <wsdl:part name="body" element="xsd1:unlockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VehicleNotAvailableFaultType">
    <wsdl:part name="body" element="xsd1:VehicleNotAvailableFaultType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HardwareErrorFaultType">
    <wsdl:part name="body" element="xsd1:HardwareErrorFaultType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnlockRequest">
    <wsdl:part name="body" element="xsd1:unlock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VehicleNotFoundFaultType">
    <wsdl:part name="body" element="xsd1:VehicleNotFoundFaultType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LockRequest">
    <wsdl:part name="body" element="xsd1:lock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StationPort">
    <wsdl:operation name="unlock">
      <wsdl:input message="tns:UnlockRequest">
    </wsdl:input>
      <wsdl:output message="tns:UnlockResponse">
    </wsdl:output>
      <wsdl:fault name="HardwareErrorFault" message="tns:HardwareErrorFaultType">
    </wsdl:fault>
      <wsdl:fault name="VehicleNotAvailableFault" message="tns:VehicleNotAvailableFaultType">
    </wsdl:fault>
      <wsdl:fault name="VehicleNotFoundFault" message="tns:VehicleNotFoundFaultType">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lock">
      <wsdl:input message="tns:LockRequest">
    </wsdl:input>
      <wsdl:output message="tns:LockResponse">
    </wsdl:output>
      <wsdl:fault name="HardwareErrorFault" message="tns:HardwareErrorFaultType">
    </wsdl:fault>
      <wsdl:fault name="VehicleNotFoundFault" message="tns:VehicleNotFoundFaultType">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StationPortSOAPBinding" type="tns:StationPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="unlock">
      <soap:operation soapAction="unlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="HardwareErrorFault">
        <soap:fault name="HardwareErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VehicleNotAvailableFault">
        <soap:fault name="VehicleNotAvailableFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VehicleNotFoundFault">
        <soap:fault name="VehicleNotFoundFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lock">
      <soap:operation soapAction="lock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="HardwareErrorFault">
        <soap:fault name="HardwareErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VehicleNotFoundFault">
        <soap:fault name="VehicleNotFoundFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationPortService">
    <wsdl:port name="StationPortServicePort" binding="tns:StationPortSOAPBinding">
      <soap:address location="http://localhost:8083"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
